/* ===================== GENERAL SETTINGS ===================== */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root{
    --color-primary: #54BD95;
    --color-secondary: #161C28;
    --color-white: #fff;
    --color-black:#000;
    --color-bg: #ecf0f3;

    --container-width-desktop: 86%;
    --container-width-tablet: 88%;
    --container-width-mobile: 94%;
}

body {
    display: grid;
    grid-template-rows: auto;
    font-family: 'Rubik', sans-serif;
    background-color: var(--color-bg);
    /* height: 100vh; */
}

main {
    max-width: var(--container-width-desktop);
    margin: auto;
}

h1 {
    font-size: 4.2rem;
    font-weight: bold;
    line-height: 1;
}

h2 {
    font-size: 2.2rem;
    font-weight: bold;
}

/* Header */
.burger-menu {
    display: none;
}

.header {
    position: fixed;
    display: flex;
    width: 100%;
    background-color: var(--color-primary);
    height: 6rem;
}

.header__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--container-width-desktop);
    margin: auto;
    width: 100%;
}

.header__section .header__logo {
    width: 5%;
}

.header__nav__link {
    display: inline-block;
    padding: 16px 24px;
}

.header__nav__link a {
    color: #000;
}

.header__nav__link a:hover{
    color: var(--color-white);
}

.header__nav__link--selected a{
    font-weight: bold;
    color: var(--color-white);
}

.social__link {
    padding: 10px;
}

/* ===================== RESPONSIVE MENU - MOBILE - BOOTSTRAP MODIFIED===================== */

.bg-light {
    background-color: #54BD95!important;
}

.active {
    color: white!important;
    font-weight: bold!important;
}

/* ===================== RESPONSIVE COVER - MOBILE ===================== */
@media only screen and (min-width: 0px) and (max-width: 768px){
    
    .burger-menu {
        display: block;
    }

    .header__nav {
        display: none;
    }

    .social {
        display: none;
    }

    .header__section {
        max-width: var(--container-width-mobile);
        margin: auto;
    }

    .header__section .header__logo {
        width: 16%;
    }

    .burger-menu__icon i {
        color: white;
    }

}

/* Footer */
.footer {
    margin-top: 100px;
    background-color: var(--color-secondary);
}

.footer__up {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    max-width: var(--container-width-desktop);
    margin: auto;
    padding: 2.5rem 0;
}

.footer__first__logo {
    width: 30%;
}

.footer__first__desc {
    color: #A6A6A6;
    margin-top: 10px;
}

.footer .social {
    display: flex;
    column-gap: 1rem;
    margin-top: 10px;
}

.footer .social__link {
   padding: 0;
}

.footer .social__link i {
    color: white;
}

.footer__up, .column {
    justify-content: start;
}

.column__title {
    margin-bottom: 1.5rem;
    color: var(--color-white);
}

.column__item {
    margin-bottom: 0.5rem;
    color: #A6A6A6;
}

.column__item:hover, .column__item a:hover {
    color: var(--color-primary);
}

.column__item a {
    color: #A6A6A6;
}

.footer__down {
    color: var(--color-white);
    border-top: 1px solid #A6A6A6;
    padding: 1rem 0;
}

.footer__down__container {
    max-width: var(--container-width-desktop);
    margin: auto;
    align-items: center;
}

.footer__down a {
    color: var(--color-primary);
}

/* Whatsapp */
.whatsapp {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #25d366;
    padding: 12px;
    border-radius: 50%;
}

.whatsapp__link img {
    vertical-align: middle;
    width: 40px;
    height: 40px;
}

/* Button Primary */
.button-primary {
    background: #54BD95;
    color: #fff;
    padding: 13px 38px;
    border-radius: 10px;
    border: 2px solid #54BD95;
}

.button-primary:hover {
    background-color: var(--color-secondary);
    color: var(--color-white);
    border: 2px solid var(--color-secondary);
}


/* Cover */
.cover {
    display: grid;
    grid-template-columns: 5fr 3fr;
    margin-top: 7rem;
    height: calc(100vh - 7rem);
}

.cover__left {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    justify-content: center;
}

.cover__right {
    display: flex;
    align-items: center;
}

.cover__right__img {
    width: 100%;
}

/* ===================== PORTFOLIO ===================== */

/* Portfolio */
.portfolio {
    margin-top: 100px;
}

.portfolio__button__item {
    display: inline-block;
    padding: 16px 24px;
    border: 2px solid #54BD95;
    border-radius: 40px;
}

.portfolio__button__item:hover {
    font-weight: bold;
}

.portfolio__button__item--selected {
    font-weight: bold;
}

.port-card {
    display: inline-block;
}

.port-card__content__img, .port-card__content__name {
    display: inline-block;
}

.port-card__content__img {
    width: 10%;
}

/* ===================== SERVICES ===================== */
.services {
    margin-top: 50px;
}

.services .services__title, .services .services__desc {
    text-align: center;
}

.services__buttons {
    display: flex;
    justify-content: center;
}

.buttons__container {
    background: linear-gradient(145deg,#e2e8ec,#fff);
    box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #fff;
    border-radius: 10px;
    padding: 10px;
}

.services .button-primary:hover {
    background-color: var(--color-primary);
    border: 2px solid #54BD95;
}

.services .button-secondary {
    background-color: transparent;
    padding: 0 38px;
    border: 2px solid transparent;
}

.services .button-secondary:hover {
    background-color: var(--color-primary);
    color: #fff;
    padding: 13px 38px;
    border-radius: 10px;
    border: 2px solid #54BD95;
}

.services__cards {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}

.servi-card {
    background: #F9FAFB;
    box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #fff;
    border-radius: 20px;    
    padding: 40px;
    width: 374px;
    height: 584px;
    display: grid;
    justify-items: center;
}

.servi-card__title, .servi-card__desc {
    text-align: center;
}

.servi-card__price {
    display: flex;
    justify-content: center;
}

.servi-card__price p {
    font-size: 2rem;
}

.servi-card__save {
    text-align: center;
}

.servi-card__items{
    background: var(--color-white);
    border-radius: 10px;
    display: grid;
    padding: 26px 38px;
    width: 100%;
}

.servi-card__items .button-primary {
    margin-top: 2rem;
    background: #FFFFFF;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    color: var(--color-primary);
}

.servi-card__items .button-primary:hover {
    color: var(--color-white);
}

.servi-card--selected {
    background-color: var(--color-primary);
    display: grid;
    justify-items: center;
}

.servi-card--selected .servi-card__title,  
.servi-card--selected .servi-card__desc, .servi-card--selected .servi-card__price{
    color: var(--color-white);
}

.servi-card--selected .servi-card__save {
    background: #85DAB9;
    border-radius: 10px;
    width: 50%;
    padding: 10px;
    color: var(--color-white);
}

.servi-card--selected .servi-card__items {
    width: 100%;
}

.servi-card--selected .button-primary {
    background-color: var(--color-primary);
    color: var(--color-white);
}

.servi-card--selected .button-primary:hover {
    background-color: transparent;
    color: var(--color-primary);
}

/* ===================== ABOUT ===================== */
.wedo {
    text-align: center;
    border-bottom: 1px solid #6a6a6a42;
    padding-bottom: 50px;
}

.wedo h2 {
    margin-bottom: 20px;
}

.wedo p {
    margin-bottom: 30px;
}

.wedo img {
    width: 100%;
}

.vimi {
    padding: 50px 0;
    border-bottom: 1px solid #6a6a6a42;
}

.vimi__img {
    width: 100%;
}

/* .vimi__up .vimi__img {
    padding: 2rem 2rem 2rem 0rem;
}

.vimi__down .vimi__img {
    padding: 2rem 0rem 2rem 2rem;
} */

.vimi__up, .vimi__down{
    align-items: center;
}

.vimi__down {
    margin-top: 50px;
}

.team {
    padding-top: 50px;
}

.team .team__title, .team .team__desc {
    text-align: center;
}

.team__content {
    margin-top: 3rem;
    column-gap: 3rem;
}

.person {
    text-align: center;
}

.person .person__name {
    margin-top: 1rem;
    margin-bottom: 0;
}

.person .person__position {
    font-weight: bold;
}

.animate__animated {
    animation-fill-mode: backwards!important;
}

