@import "../utilities/variables";

.whatsapp {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: $color-whatsapp;
    padding: 12px;
    border-radius: 50%;

    &__link {
    
        img {
            vertical-align: middle;
            width: 40px;
            height: 40px;
            margin-left: 2px;
        }
    }
}

